footer.bg-white.shadow.m-4(class='dark:bg-gray-800 absolute bottom-0 left-0 w-full')
  .w-full.mx-auto.max-w-screen-xl.p-4(class='md:flex md:items-center md:justify-between')
    span.text-sm.text-gray-500(class='sm:text-center dark:text-gray-400')
      | &copy; 2024 
      a(href='/' class='hover:underline') Home&trade;
      | . All Rights Reserved.
    ul.flex.flex-wrap.items-center.mt-3.text-sm.font-medium.text-gray-500(class='dark:text-gray-400 sm:mt-0')
      li
        a.me-4(href='/products' class='hover:underline md:me-6') Products
      li
        a.me-4(href='#' class='hover:underline md:me-6') Privacy Policy
      li
        a.me-4(href='#' class='hover:underline md:me-6') Licensing
      li
        a(href='#' class='hover:underline') Contact
