h1 {
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.card {
  padding: 1rem 1.25rem;
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
.card span {
  font-size: 14px;
}
.card .btn {
  padding: 12px 1rem;
  display: block;
  margin: 0 auto;
  background: #000;
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
}

@media (min-width: 280px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 640px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
